.App {
    padding: 55px 1em 0 1em;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 55px;
    list-style: none;
    background-color: #000;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;

    .nav-items {
        a {
            margin-right: 1.5em;
        }
    }

    a {
        display: inline-block;
        color: #fff;

        &.active {
            color: dodgerblue
        }
    }
}